body{
    background-color: #2f3354;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.container{
    display: flex; /*default: row (horizontally)*/
    flex-direction: row;
    justify-content: space-evenly; /*flex-start, flex-end, center, justify, space-around, space-between*/
    align-items: flex-start; /*flex-start, flex-end, center*/
    gap: 10px;
    margin-top: 1em;
    font-size: 14px;
    color: #ffffff;


    /*flex-wrap: wrap*/
    /*align-content: flex-start*/
    /*gap creates a white space between each item */
    /*flex-grow allow items to take up the remaining space*; flex-shrink, flex-basis, flex*/
    /*align-self overwrites item flex from the container*/
}
#acclogo{
    max-height: 50px;
}
#settings{
    max-height: 50px;
    filter: invert(100%); /*sets image color to white*/
}
.logo{
    padding: 0;
}
.home{
    padding-block: 1em;
    padding-inline: 2em;
}
.search{
    background-color: #4b6080;
    border-radius: 50px;
    padding-block: 1em;
    padding-inline: 2em;
}
.post{
    padding-block: 1em;
    padding-inline: 2em;
}
.notification{
    padding-block: 1em;
    padding-inline: 2em;
}
.profile{
    padding-block: 1em;
    padding-inline: 2em;
}
.settings{
    padding: 0;
}